<div class="row">
    <div class="col-xs-12">
        <form #f="ngForm"  (ngSubmit)="onSubmit(f)">
            <div class="row">
                <div *ngIf="error">{{ errorMessage }}</div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input required  type="email" name="email" id="email" ngModel email class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input minlength="6" type="password" name="senha" id="password" ngModel class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="!f.valid" type="submit" class="btn btn-success">
                                {{ login?'Login':'Cadastre-se' }}
                    </button> | 
                    <button type="button" class="btn btn-primary" (click)="onSwitch()">
                         Trocar para  {{ login?'Cadastre-se':'Login' }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
