
    <div   class="col-sm-8 col-md-12">
        <div class="thumbnail">
          <div class="row">
            <div class="col-sm-8 col-md-8">
              <button routerLink="../" type="button" class="btn btn-primary">Voltar</button>
            </div>
          </div>
          <img  style="width:30%!important" src="{{ productItemDetails.imagePath }}" alt="{{ productItemDetails.name }}">
          <div class="caption">
            <h3>{{ productItemDetails.name }}</h3>
            <p>{{ productItemDetails.gender }}</p>
            <button class="btn btn-primary">Adicionar ao carrinho</button>
          </div>
        </div>
      </div>

  